<h1 align="center"> Welcome to 4DMethod </h1>
<br>
<h2 align="center"><i>4DMethod donde aprender jamas fue tan divertido!</i></h2>
<br>
<h3>Plataforma 4DM</h3>
<p>4DMethod es una plataforma diseñada para ofrecer lo mejor y lo mas divertidos cursos online con el sistema de recompensa Blockchain y el rastreo de logos. Piense en ello como <%= link_to "Coursera", "https://es.coursera.org/" %>, <%= link_to "Faradaysec", "https://www.faradaysec.com/" %>, <%= link_to "BitDegree", "https://www.bitdegree.org/" %> y <%= link_to "HackerRank", "https://www.hackerrank.com/" %> combinados juntos impulsado por Blockchain desentralizado.</p>
<br>
<br>
<h2 align="center">User experience an expectations</h2>
<br>
<h3>Simulacion de ataques</h3>
<p>Los usuarios van aprender practicando Simulaciones de ataque que les desarrollara una mente constructiva y buena para encontrar y resolver problemas y vulnerabilidades. Una simulacion en tiempo real en un ambiente diseñado para el usuario para una amplia transparencia, velocidad y eficiencia desde auditorias hasta trabajo en equipo.</p>
<br>
<br>
<h3>Comunidad</h3>
<p>Comunidad donde los usuarios podran navegar por la lista inmensa de blogs, noticias, reposts, portafolios y preguntas, tambien pueden darle me gusta, comentar y destacar cada articulo o editar y eliminar los suyos.</p>
<p>Los temas a hablar en esta comunidad son:</p>
<ul>
  <li>Biohacking</li>
  <li>Electronica</li>
  <li>Robotica</li>
  <li>Hacking</li>
  <li>Redes</li>
  <li>Tecnologia</li>
  <li>programacion</li>
  <li>Hardware y Software</li>
</ul>
<br>
<br>
<h3>Blueprint System y Sistema de tradeos</h3>
<p>Nuestro sistema Blueprint es una de las ideas mas originales y creativas que hemos creado. Blueprint system es un dashboard donde los usuarios podran arrastrar cierto contenido libre de stickers relavantes a los temas ya relevados.</p>
<p>Blueprint System diseñado por 4DM te ayudara a planificar tus futuros ataques antes de entrar en juego con Simulacion de ataques, los usuarios pueden compartir y vender estos blueprints con Etherum.</p>
<br>
<br>
<br>
<h1 align="center">Que esperas a unirte? Unete ya!</h1>
<p align="center">Contactanos a nuestro email: 4DarkDimensions@protonmail.com</p>
<p align="center"> © Copyright Bryann Steveens</p>

